*.swp
*.swo
MN/build/*
MN/sc_po_text/*
MN/tex_build/*
bin/__pycache__*
/MN/sc_po_text/error_log.txt
/bin/pali_CV_analysis
/bin/pali_aspi_translit
/bin/pali_aspirantsmall_h
/bin/pali_dediacritic
/bin/pali_dediacritic_translit
/bin/pali_illegalchar_finder
/bin/pali_legal_characters
/bin/pali_legalchar_hash
/bin/pali_process
/bin/palialphabet
/bin/palifilelist.txt
/bin/palisort
/bin/palitesttext
/bin/paliwords.txt
/bin/pip.needs
