.aph {
    display: block;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.atx {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: left
    }
.atx1 {
    display: block;
    font-size: 0.70588em;
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-top: 0.5em;
    text-align: left
    }
.b {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    vertical-align: inherit
    }
.b1 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    font-size: 0.70588em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    text-indent: 0
    }
.b2 {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: table-cell;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    vertical-align: inherit
    }
.bmtx {
    display: block;
    font-size: 0.70588em;
    text-align: justify;
    text-indent: 1em
    }
.calibre {
    background-color: #FFF;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center
    }
.calibre1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre2 {
    line-height: 1.2
    }
.calibre3 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre8 {
    display: table-row;
    vertical-align: middle
    }
.calibre9 {
    font-weight: bold
    }
.calibre10 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-style: italic;
    font-weight: bold
    }
.calibre12 {
    display: block;
    line-height: 1.2;
    page-break-after: always
    }
.calibre13 {
    font-size: 0.66667em;
    line-height: normal;
    vertical-align: super
    }
.calibre14 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.cct {
    display: block;
    font-size: 0.70588em;
    text-align: left
    }
.centerAligned {
    display: block;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    text-align: center
    }
.cepiv {
    display: block;
    font-size: 0.70588em;
    margin-left: 8em;
    margin-right: 2em;
    margin-top: 2em;
    text-align: justify
    }
.cfmh {
    display: block;
    font-size: 0.70588em;
    font-style: italic;
    text-align: left
    }
.ch {
    display: block;
    font-size: 0.70588em;
    margin-left: 1em;
    text-align: left;
    text-indent: 1em
    }
.cpt {
    display: block;
    font-size: 0.79412em;
    line-height: 1.2;
    margin-bottom: 2em;
    text-align: left
    }
.crt {
    display: block;
    font-size: 0.52941em;
    text-align: center
    }
.cst {
    display: block;
    font-size: 0.79412em;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-top: 0.5em;
    text-align: center
    }
.ctag {
    display: block;
    font-size: 0.70588em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center
    }
.ctag1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center
    }
.end {
    display: block;
    font-size: 0.70588em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: left
    }
.fmh {
    display: block;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center
    }
.fmh1 {
    display: block;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-before: always;
    text-align: center
    }
.fmhT {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-top: 0.5em;
    text-align: center
    }
.fmtx {
    display: block;
    font-size: 0.70588em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.fmtx1 {
    display: block;
    font-size: 0.70588em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 1em
    }
.h {
    display: block;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-before: always;
    text-align: center
    }
.h1 {
    display: block;
    font-size: 0.70588em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-before: always;
    text-align: center
    }
.h2 {
    display: block;
    font-size: 0.70588em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.h3 {
    display: block;
    font-size: 0.79412em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left
    }
.h4 {
    display: block;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.imgepub {
    height: 100%;
    line-height: 1.2;
    text-align: center;
    width: auto
    }
.imgepub1 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.ind-tx {
    display: block;
    font-size: 0.70588em;
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: justify
    }
.liste {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em
    }
.liste1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 0.5em
    }
.lsl {
    display: block;
    font-size: 1em;
    margin-left: 3em;
    text-indent: -1em
    }
.lsl1 {
    display: block;
    font-size: 0.70588em;
    margin-left: 3em;
    text-indent: -1em
    }
.none {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    font-size: 0.70588em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.t {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-collapse: collapse;
    border-spacing: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: thin;
    display: table;
    font-size: 0.70588em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    text-indent: 0
    }
.tx {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.tx1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 1em
    }
.x {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    vertical-align: inherit
    }
.x1 {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    vertical-align: inherit
    }
.x2 {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: inherit;
    vertical-align: inherit
    }
.x3 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    vertical-align: inherit
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "GenBasR";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "GenBasB";
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "GenBasI";
    font-style: italic;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "GenBasBI";
    font-weight: bold;
    font-style: italic;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }

